#dropdown  a
{
	display: inline;
	color:#C2000A;
	margin:0px 5px;
	top:0px;
}
#dropdown  a:visited
{
	color:#9f151c;
}
#dropdown  a:hover
{
	color:red !important;
}
#dropdown  a:active
{
	color:red;
}
#dropdown{
	max-width:100%;
}
#nav_download{
	margin:0px;
}
nav a{
	margin:0px 25px 0px 0px;
	position:relative;
	top: -2px;
	display:inline-block;
	text-decoration: none;
	transition:.25s;
}
a:hover .underline{
	background-color:#b2b2b2 !important;
    border-color: #b2b2b2 !important;
	transition:0s;
}
a:visited .underline
{
	background-color:#7c7c7c;
}
#active_nav > *{
	background-color:#7c7c7c;
}
.underline{
	display:block;
	width:132%;
	max-width:100px;
	min-height:3px;
	background-color:#000000;
	margin: 1px;
	transition:.15s;
	overflow: visible !important;
}
nav{
	font-weight:bold;
	position:relative;
	left: 7px;
	z-index: 1;
}
#title h1, h2{
	font-family: 'Raleway', cursive;
}
#title{
	position:relative;
	padding:3px;
	padding-right:0px;
	z-index:10;
	top:20px;
	left:-12px;
	background-color: #CDCDCD;
	padding-bottom:0px;
	padding-left:15px;
	padding-right:34px;
    border-radius: 00px 60px 0px 0px ;
    box-shadow: -10px -20px black;
}
#logo
{
	position:relative;
	margin:0px;
	padding :0px;
	border:0px;
	z-index:11;
	display:inline-block;
}

#expander_top:hover #expander{
	display:none;
	
}
#expander_top:hover #hidden_expander{
	display:inline;
	
}
.hidden{
	display:none;
}
.hidden li{
	padding-top:2px;
	background-color:black;
	min-width:150px;
	text-align:right;
}
#expander_top:hover .hidden{
	display:block;
	position:absolute;
}
.hidden li{
	padding-top:2px;
	background-color:black;
	min-width:150px;
	text-align:right;
}
#expander_top:hover .hidden{
	display:block;
	position:absolute;
}
#hidden_expander{
	text-decoration: underline;
	position:relative;
	top:2px;
	max-width:19px;
	margin:0px !important;
}
#hidden_menu
{
	position:absolute;
	top:0px;
	top:17px;
	left:-176px; /* you would not believe the hell I had to go through to get this to align on all browsers...*/
	max-width:10px;
}

#whoa{
	max-width:19px;
	margin:0px !important;
	display:inline;
}
whoa  *
{
	max-width:30px !important;
}
#expander_top li, ul{
    list-style-type: square;
}
#expander{
	position:relative;
	top:2px;
	display:inline;
}
#hidden_expander{
	display:none;
}
#expander_top
{	
	display:inline;
	position: relative;
	padding: 0px;
	margin: 0px;
	left:-2px;
}
#hidden_menu li {
	display:block !important;
	background-color:black;
	margin-left:10px;
}
/* sigh... wish we had real inheritence */
#hidden_menu .project_furthest{
	display:none;
}
#hidden_menu .project_far{
	display:none;
}
#hidden_menu .project_mid{
	display:none;
}
#hidden_menu .project{
	display:none;
}
/* active nav hilighting*/
#home #nav_home, #contact #nav_contact, #notes #nav_notes
{
	color: black;
}

#home #nav_home .underline, #contact #nav_contact .underline, #notes #nav_notes .underline
{
	background-color: white;
    border: 1px solid black;
	margin: 0px;
}
#fifteen #proj_15, #fifteen #proj_15_sub,
#republique #proj_republique, #republique #proj_republique_sub,
#dodgecube #proj_dodgecube, #dodgecube #proj_dodgecube_sub,
#soehngine #proj_soehngine, #soehngine #proj_soehngine_sub,
#lawnmower #proj_lawnmower, #lawnmower #proj_lawnmower_sub,
#galaxy #proj_galaxy, #galaxy #proj_galaxy_sub
{
	text-decoration: underline;
	color:red;
}
@media only screen and (max-width: 1002px) {
	header{
		padding-left:5px;
		padding-right:5px;
		margin:0px;
		max-width: 950px;
		margin-left:auto;
	}
	#outer_main{
		margin:0px;
		padding-left:30px;
	}
	#main
	{
		margin:0px;
		margin-left:auto;
	}
}
@media only screen and (min-width: 1100px) {
	#hidden_menu {
		left:-126px; 
	}
}
@media only screen and (max-width: 976px) {
	.project_furthest{
		display:none !important;
	}
	#hidden_menu .project_furthest{
		display:block !important;
	}

	#expander_top{
		display:inline;
	}
}

@media only screen and (max-width: 876px){
	nav a{
		margin-top: 6px;
	}
	#row2{
		display:block;
	}
}
@media only screen and (max-width: 861px){ 
	.project_far{
		display:none !important;
	}
	#hidden_menu .project_far{
		display:block !important;
	}
}

@media only screen and (max-width: 744px) {
	.project_mid{
		display:none !important;
	}
	#hidden_menu .project_mid{
		display:block !important;
	}
}
@media only screen and (max-width: 621px) {
	.project{
		display:none !important;
	}
	#hidden_menu .project{
		display:block !important;
	}
}

@media only screen and (max-width: 661px) {
	#outer_main{
		padding:0px;
		max-width:600px;
		margin-left:auto;
	}
	#corner{
		z-index:9;
		position:absolute;
		left:0%;
	}
	#top{
		margin-left:0px;
	}
	#main{
		padding-top:40px;
	}
	body{
		margin-left:11px;
		border:0px;
	}
}
@media only screen and (max-width: 621px)  {
	#top_nav a{
		margin-top: 6px;
		display:block;
	}
	#corner{
		top:63px;
	}
	#projects{
		position:relative;
		left:-7px;
	}
	#main{
		padding-top:0px;
	}
	#colon{
		color:#C2000A;
	}
	#content{
		padding-top:40px;
	}
}
@media only screen and (max-width: 530px)  {
	h1{
		font-size: 7.3vw;
	}
	h2{
		font-size: 5.4vw;
	}
	#title > cite {
		font-size: 3.0vw;
	}
	#title{
		padding-bottom:10px;
	}
}