html
{
	background-image : url("http://gdavis.io/images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
	background-color : #FFFFFF;
	background-size: cover;
	color : #535353;
	font-family: 'Lato', sans-serif;
}
img{
	max-width:100%;
}
br{
	clear:both;
}
h1{
	font-size:39px;/* change to vw based on media query*/
	margin:0px;
	color: #561d2b;
}
h2{
	font-size:29px;
	margin:0px;
	color: #301118;
}
h1,h2
{
	clear:both;
}
h3{
	margin-bottom:6px;
	padding-bottom:0px;
}
p{
	margin-top: 3px;
}
#lower{
	background : #0a0305;
	min-height:22px;
	margin-left:auto;
	max-width:90%;
}
.overlay{
	font-family: 'Wire One', sans-serif;
	font-size:12vw;
	position:absolute;
	background-color:white;
}
#not{
	background-color:transparent;
}
.container{
	position:relative;
	font-size:12vw;
	top:-1em;
}
.float_left{
	float : left;
}
.float_right{
	float : right;
}
.clear_right{
	clear : right;
}
.clear_both{
	padding-top:20px;
	clear:both;
}
#outer_main
{
	margin:auto;
	position:relative;
	padding-left: 90px;
}
#main
{
	margin:auto;
	max-width: 900px;
    border-radius: 00px 0px 40px 40px ;
	background-color: #CDCDCD;
	
}
header{
	padding-left:30px;
    margin: auto;
	max-width: 950px;
}
ul{
	display: block;
	margin-top:0px;
}
#me
{
	position:relative;
	z-index:1;
	margin-right :40px;
}
#content{
	margin:auto;
	clear:both;
	padding: 10px;
}
a{
	color:#111111;
	transition: .5s;
}
a:hover{
	color:#b2b2b2 !important;
}

a:visited{
	color:#7c7c7c;
}
a:active{
	color:#dedede;
}
body{
	margin-right:4px;
}
#main{
    box-shadow: 10px 10px 5px grey;
}
footer{
	width:60%;
	max-width:420px;
	min-width:100px;
}
.center{
	margin:auto;
}
.tiny{
	color:#888888;
	font-size:.75em;
}
footer p{
	text-align: center;
}
hr{
	max-width:60%;
}
.social{
    filter: grayscale(100%);
}
a:hover .social{
    filter: grayscale(0%);
}
#expander_top:hover > *{
	
}

.hidden{
	display:none;
}
li {
	display: block;
}
#bullets li{
	display: list-item;
}

/* sigh... wish we had real inheritence */
#hidden_menu .project_furthest{
	display:none;
}
#hidden_menu .project_far{
	display:none;
}
#hidden_menu .project_mid{
	display:none;
}
#hidden_menu .project{
	display:none;
}
#at{
	position:relative;
	top:1px;
	left:2px;
}


#lastUpdated{
	background-color:white;
	position:absolute;
	font-size:11pt;
	z-index:199;
		top:25.32vw;
}
#description {
	min-height: 5em;
}
#overlay{
	z-index:100;
}
#container li {
	display:inline;
	padding-left:15px;
}
#container ul {
	display:inline-block;
	padding:0px;
	position:relative;
	z-index:100;
}
.slidesjs-next
{
	position:relative;
	left:0px;
	z-index:200;
}

#container li .active {
	color:red;
}
#controls{
	width:400px;
	margin-bottom: 0.5em;
}

#next{
	float:right;
}
   
#slides {
  display: none
}    

.slidesjs-previous {
    float: left;
}

.slidesjs-next {
    float:right;
}
		
		
a h3{
	color:#7c7c7c;
	padding-right:80px;
	display:inline-block;
}
.active > *{
	color:black !important;
}

a:hover h3{
	color:#b2b2b2;
}

.mk_img{
    padding: 15px;
}

#background{
    z-index: -100;
	display:block;
	background:#ffffff;
	position:fixed;
	top:0px;
	left:0px;
    width: 100%;
    height: 100%;
    overflow: none;
}
#output{
    overflow: hidden;
	position:static;
}
.full{
    width: 100%;
    height: 100%;
}
/** media queries **/

@media only screen and (max-width: 1020px){
		#lastUpdated{
				top:25.32vw;
		}
}
@media only screen and (min-width: 1020px){
	.overlay{
		font-size:120px;
	}
		#lastUpdated{
				top:253.2px;
		}
	.container{
		font-size:120px;
	}
}
@media only screen and (max-width: 580px)  {
	
	#me{
		float:none;
	}
}

@media only screen and (max-width: 480px)  {
	
	#main{
		/* use color:red; to test min supported res.*/
	}
}