html
{
	/*background-image : url("http://gdavis.io/images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
	background-color : #FFFFFF;
	background-size: cover;*/
	color : #535353;
    font-family: 'Rokkitt', serif;
}
body{
    margin: 0 auto;
    max-width: 1000px;
}

h1{
    clear: both;
    font-family: 'Belgrano', serif;
    display: block;
    margin: .1em 0;
}
#likes
{
    display: table;
    margin: 8px auto;
}
#titlecard{
    padding: 12px;
    padding-right: 0;
    padding-bottom: 6px;
    display: inline-block;
}
nav
{
    margin-left: auto;
    background: darkgray;
    display: flex;
    position: relative;
}

nav *{
    display: flex;
}

nav ul{
    list-style: none;
    margin: 0;
}

nav ul li{
    float: left;
    text-align: center;
    position: relative;
}

.navListTitle{
    display: block;
    position: relative;
    margin: auto;
    padding: 0 1em;
    width: 100px;
}
nav ul li:first-child .behind{
    background-color: aqua;
    animation-delay: .7s;
}

nav ul li:last-child .behind{
    background-color: darkseagreen !important;
    animation-delay: 1.3s;
}

#me{
    float: left;
    min-width: 200px;
    max-width: 50%;
    clear: none;
}
.top{
    background: darkgray;
    display: flex;
    margin-bottom: 1em;
}

.behind{
    background: darksalmon;
    height: 100%;
    width: 0%;
    position: absolute;
    animation-delay: 1s;
    animation-duration: .3s;
    animation-name: stretch;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    
}

.blurb{
    clear: none;
}

#confetti
{
    position: absolute;
    right: -60px;
}

.top header
{
    float:left;
}

@keyframes stretch{
    from { width:0% }
    to { width:100% }
}

/*reduce size of nav boxes*/
@media only screen and (max-width: 710px) {
    .navListTitle{
        padding: 0;
    }
}

/*stack the boxes in the corner*/
@media only screen and (max-width: 610px)  {
    nav {
        float: right;
    }
    nav ul {
        display: inline;
    }
    nav ul li {
        float: none;
        height: 33%;
    }
    .navListTitle{
        padding: 0 1em;
    }
    .behind{
        height: 0%;
        width: 100%;
    }
    @keyframes stretch{
        from { height:0% }
        to { height:100% }
    }
}

/*reduce the size of the boxes*/
@media only screen and (max-width: 440px) {
    nav ul li p{
        padding: 0;
    }
}

/*reduce name size*/
@media only screen and (max-width: 410px) {
    #titlecard h1
    {
        font-size: 6vw;
    }
}

/*stop reducing name size*/
@media only screen and (max-width: 310px) {
    #titlecard h1
    {
        font-size: 18.6px;/*6vw@310px ie 310x1%x6*/
    }
}