html
{
	/*background-image : url("http://gdavis.io/images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
	background-color : #FFFFFF;
	background-size: cover;*/
	color : #535353;
    font-family: 'Rokkitt', serif;
}
body{
    margin: 0 auto;
    max-width: 1000px;
}

h1{
    clear: both;
    font-family: 'Belgrano', serif;
    display: block;
    margin: .1em 0;
}
#likes
{
    display: table;
    margin: auto;
}
#titlecard{
    padding: 8px 0 0 8px;
}
nav
{
    margin-left: auto;
    background: darkgray;
    display: flex;
}

nav ul{
    list-style: none;
    margin: 0;
}

nav ul li{
    height: 100%;
    display: flex;
    float: left;
    text-align: center;
    position: relative;
}

nav ul li{
    height: 100%;
    display: flex;
    float: left;
    text-align: center;
    position: relative;
}

nav ul li a{
    display: block;
    position: relative;
    margin: auto;
    padding: 0 1em;
    width: 100px;
}
nav ul li:first-child .behind{
    background-color: aqua;
    animation-delay: .7s;
}

nav ul li:last-child .behind{
    background-color: darkseagreen !important;
    animation-delay: 1.3s;
}

@media only screen and (max-width: 480px)  {
    nav ul li{
        display:  inline;
        float: right;
        padding: 0;
        height: inherit
    }
}
#me{
    float: left
}
.top{
    background: darkgray;
    display: flex;
    margin-bottom: 1em;
}

.behind{
    background: darksalmon;
    height: 100%;
    width: 0%;
    position: absolute;
    animation-delay: 1s;
    animation-duration: .3s;
    animation-name: stretch;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    
}

.top header
{
    float:left;
    width: 50%;
}

div{
    clear: both;
}

@keyframes stretch{
    from { width:0% }
    to { width:100% }
}