:root{
    --fontColor: #302E1B; /*#535353;*/
    --colorA: #E4DA95; /*aqua*/
    --colorB: #4A4940;/*darksalmon*/
    --colorC: #7D7746;/*darkseagreen*/
    --outerBgColor:#FDFDFA;/*white*/
    --bgColor: #E9E9E9;
    --boxColor: white; /*darkgray*/
    --lnewColor: #9F9F9F;
    --lhoverColor: black;
    --lclickedColor: brown;
}

html {
	/*background-image : url("http://gdavis.io/images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
	background-color : #FFFFFF;
	background-size: cover;*/
	color : var(--fontColor);/*#535353;*/
    font-family: 'Rokkitt', serif;
    height: 100%;
    margin: 0 3px;
    /*
    margin-right: 3px;
    background-origin: border-box;
    background: linear-gradient(to left, transparent 2.99px, white 3px),
    linear-gradient(to top, aqua 33.3%, darksalmon 33.4%, darksalmon 66.6%, darkseagreen 66.7%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    border-left: 3px solid white;
    border-image: linear-gradient(to bottom, aqua 33.3%, darksalmon 33.4%, darksalmon 66.6%, darkseagreen 66.7%) 3;*/
    height: inherit;
}

body{
    margin: 0 auto;
    position: relative;
    max-width: 1200px;
    background: var(--outerBgColor);
}
#main{
    background: var(--bgColor);
    background-repeat: repeat-y;
}

a{
    color: var(--lnewColor);
}
a:hover{
    color: var(--lhoverColor);
}
.colorBar{
    width: 3px;
    height: 100%;
    background: linear-gradient(to top, var(--colorA) 33.3%, var(--colorB) 33.4%, var(--colorB) 66.6%, var(--colorC) 66.7%);
    /*
    background: linear-gradient(to top, aqua 33.3%, darksalmon 33.4%, darksalmon 66.6%, darkseagreen 66.7%);
    */
    /*
    animation-duration: 1s;
    animation-direction: alternate;
    */
}

.leftAnchor
{
    position: fixed;
    left: 0;
}

.rightAnchor
{
    position: fixed;
    right: 0;
}

.colorBar.leftAnchor
{
    transform: scale(-1);
}

h1{
    clear: both;
    font-family: 'Belgrano', serif;
    display: block;
    margin: 0;
}
#likes
{
    display: table;
    margin: 0 auto 1.5em;
}

#titlecard{
    padding: 12px;
    padding-right: 0;
    padding-bottom: 6px;
    display: inline-block;
}
#main{
    padding-top: 1.5em;
}
nav
{
    margin-left: auto;
    background: var(--boxColor);
    display: flex;
    position: relative;
}

nav *{
    display: flex;
}

nav ul{
    list-style: none;
    margin: 0;
}

nav ul li{
    float: left;
    text-align: center;
    position: relative;
}

.navListTitle{
    display: block;
    position: relative;
    margin: auto;
    padding: 0 1em;
    width: 100px;
}
nav ul li:first-child .behind{
    background-color: var(--colorA);
    animation-delay: .7s;
}

nav ul li:last-child .behind{
    background-color: var(--colorC);
    animation-delay: 1.3s;
}

.splashImg{
    display: block;
    float: left;
    min-width: 200px;
    max-width: 50%;
    clear: right;
    margin-right: 4%;
}


.splashImg.right{
    margin-right: 0;
}

.top{
    background: var(--boxColor);
    display: flex;
}

.behind{
    width: 100%;
    height: 100%;
    background: var(--colorB);
    position: absolute;
    animation-delay: 1s;
    animation-duration: .3s;
    animation-name: stretch;
    animation-timing-function: linear;
    animation-fill-mode: both;
    
}

.blurb {
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    margin: 0 4%;
    padding: 25px;
    background-color: var(--boxColor);
    line-height: 1.3;
}

.blurb p{
    margin: .1em 0;
}

.blurb *:first-child{
    margin-top: 0;
}

.blurb *:last-child{
    margin-bottom: 0;
}

.description *:last-child{
    padding-bottom: 0;
}

.description{
    padding-bottom: 0;
}

.blurb ul
{
    list-style-type: none;
    padding: 1em 0;
    margin: 0;
}

.blurb ul li
{
    padding-left: 20px;
}

.blurb ul li:before{
    content: "◥";
    padding-right: 8px;
}
#confetti
{
    position: absolute;
    right: -60px;
}

.upperTag
{
    display: none;
    width: 0;
    height: 0;
    position: relative;
    left: -1.5em;
    bottom: -1.5em;
    border-top: 1.5em solid var(--boxColor);
    border-left: 1.5em solid transparent;
}

.lowerTag{
    display: flex;
    width: 0;
    height: 0;
    border-top: 1.5em solid var(--boxColor);
    border-right: 1.5em solid transparent;
    position: static;
}

.top header
{
    float:left;
}

#countHolder{
    display: inline;
    position: absolute;
}

.count {
    float: left;
    display: flex;
    width: 23.3%;
    height: 1px;
    max-width: 20vw;
    overflow-y: visible;
    margin: 0 5%;
}

.count div > ul{
    text-align: left;
    margin: 0 0 2em;
    padding: 0;
}

.count h1
{
    text-align: center;
}

.countTitle{
    width: 0;
    overflow: visible;
    margin-bottom: .8em;
}

br{
    clear:both;
}

#forceBreak{
    display: none;
}

#lookArrow{
    width: 0;
    overflow-x: visible;
}

#second ul:first{
    position: relative;
    top: -1em;
}

.colorA {
    color: var(--colorA);
}

.colorB{
    color: var(--colorB);
}

.colorC {
    color: var(--colorC);
}

@keyframes stretch{
    from { width:0% }
    to { width:100% }
}

.seeAlso{
    display: inline;
    float: left;
    clear:both;
    position: sticky;
    bottom: 0;
    background: var(--bgColor);
    padding-top: 10px;
}

.seeAlso h2{
    margin: .4em 0;
}

.labeledSquare{
    overflow: hidden;
    display: inline-block;
    width: 75px;
    height: 75px;
    border: 1px solid var(--lnewColor);
    margin: 0 10px;
    position: relative;
    z-index: 10;
}

.seeAlso h3{
    margin: 0px;
    position: relative;
    z-index: 10;
    color: var(--boxColor);
}

.seeAlso img{
    position: absolute;
    z-index: 9;
}

.right{
    float:right;
}

.projectTitle{
    margin-left: auto;
    display: inline-block;
}

.projectEntry::after{
    clear: both;
	display: block;
	white-space: pre;
    content: "\A";
    line-height: 2em;
}

.blurbGroup{
    display: flex;
    flex-direction: column;
}

.indent li
{
    list-style: none
}
.indent li::before
{
    content: "◦";
    margin-right: .5em;
}

/*reduce the target size on small windows or lower-res displays*/
@media only screen and (max-height: 1080px) {
    .splashImg{
        max-width: 40%;
    }
    .blurb{
        font-size: 1.33em;
    }
}

@media only screen and (min-width: 1080px) {
    .countTitle{
        margin-bottom: 0;
        width: auto;
    }
    .count div > ul
    {
        padding-top: 1em;
        padding-left: 40px;
    }
}
/*reduce some of the more decorative features*/
@media only screen and (max-width: 1000px) {
    #confetti{
        display: none;
    }
}

@media only screen and (max-width: 900px)  {
    .blurbGroup .blurb{
        clear: both;
        padding: 10px;
        margin: 0;
    }
    .blurbGroup .description{
        clear: none;
    }
    .blurbGroup{
        display: inline;
        width: 1px;
        overflow: visible;
    }
    .description
    {
        padding: 20px;
        padding-top: 7px;
        background: none;
        overflow: visible;
    }
    .projectTitle{
        padding-left: 10px;
        overflow: visible;
    }
}

/*reorder bullet points horizontally*/
@media only screen and (max-width: 925px) and (min-width: 771px), only screen and (max-width: 660px) and (min-width: 551px){
    #countHolder{
        display: contents;
    }
    #third{
        max-width: none;
        margin-left: .5em;
    }
    .count{
        width: inherit;
        max-width: calc(100% - 401px);
        height: inherit;
        display: flex;
        float: left;
        clear: none;
        margin: 1em 0;
    }
    .count h1
    {
        text-align: right;
        min-width: 1.5em;
    }
    .countTitle
    {
        margin-bottom: 0;
    }
    .count div > ul
    {
        position: relative;
        left: -1em;
        width: 100%;
        display: inline;
    }
    .count li
    {
        display: inline-block;
    }
    .count li::before
    {
        content: "•";
        margin: 0 .25em 0 .75em;
    }
}


/*reorder the highlight numbers*/
@media only screen and (max-width: 770px) and (min-width: 661px)  {
    
    #forceBreak{
        display: block;
        width: 100%;
    }
    .count{
        margin-top: 2em;
        float: left;
        flex-direction: column;
    }
    .countTitle{
        width: auto;
        text-align: center;
    }
    .count div > ul
    {
        padding-left: 40px;
    }
    #countHolder{
        display: flex;
        width: 100%;
        justify-content: center;
    }
}

@media only screen and (max-width: 660px) and (min-width: 551px)
{
    .count{
        max-width: none;
        clear: both;
        margin-left: .5em;
    }
}

/*reduce size of nav boxes*/
@media only screen and (max-width: 770px) {
    .navListTitle{
        padding: 0;
    }
    .upperTag{
        display: flex;
    }
    .lowerTag{
        display: none;
    }
    
}

/*stack the boxes in the corner*/
@media only screen and (max-width: 610px)  {
    nav {
        float: right;
    }
    nav ul {
        display: inline;
    }
    nav ul li {
        float: none;
        height: 33%;
    }
    .navListTitle{
        padding: 0 1em;
    }
    @keyframes stretch{
        from { height:0% }
        to { height:100% }
    }
}

/*less space between the photo and blurb*/
@media only screen and (max-width: 670px) {
    .splashImg
    {
        max-width: 50%;
        margin-right: 5px;
    }
    .upperTag{
        display: none;
    }
    .lowerTag{
        display: flex;
    }
    .blurb
    {
        padding: 10px;
        margin: 0;
    }
}

/*bigger mobile mode*/
@media only screen and (max-width: 550px) {
    
    .lowerTag{
        display: none;
    }
    .upperTag{
        display: flex;
    }
    .splashImg
    {
        display: block;
        float: none;
        max-width:100%;
        width: auto;
        margin: 0 auto;
        clear: both;
        padding-bottom: 1em;
    }
    .blurb
    {
        clear: both;
        margin: 0 0 10px;
    }
    #countHolder
    {
        flex-direction: column;
    }
    .count h1
    {
        font-size: 3em;
        text-align: right;
        min-width: 1.5em;
    }
    .count ul
    {
        padding: 0 !important;
    }
    .count
    {
        flex-direction: row;
        height: inherit;
        max-width: inherit;
        margin: 0 auto;
        padding: 0 175px 0 40px;
    }
    .countTitle
    {
        width: 1px;
        text-align: left;
        font-size: 1.5em;
    }
}

/*reduce the size of the boxes*/
@media only screen and (max-width: 440px) {
    nav ul li p{
        padding: 0;
    }
}

/*reduce name size*/
@media only screen and (max-width: 410px) {
    #titlecard h1
    {
        font-size: 6vw;
    }
    .splashImg
    {
        padding-bottom: 0em;
    }
}

/*stop reducing name size*/
@media only screen and (max-width: 310px) {
    #titlecard h1
    {
        font-size: 18.6px;/*6vw@310px ie 310x1%x6*/
    }
}